<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="profile.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>



  <div class="content">
    <div class="img">
      <img src="https://i.seadn.io/s/raw/files/69bb79acb443d0afacb98ba4d7330b5c.jpg?auto=format&dpr=1&w=1920" alt="">
    </div>
  </div>

  <div class="profile">
    <div class="box-circle"></div>
    <div class="name">
      <h3>Unnamed</h3>
    </div>

   
  </div>


   <div class="container m-3 menu1">
    <div class="row">
      <div class="col-md-8">
        <div class="nav-list fs-3 m-4  ">
          <a href="#" class="text-decoration-none text-dark p-2">Collected</a>
          <a href="#" class="text-decoration-none text-dark p-2">Offers </a>
          <a href="#" class="text-decoration-none text-dark p-2">Deals</a>
          <a href="#" class="text-decoration-none text-dark p-2">Created</a>
          <a href="#" class="text-decoration-none text-dark p-2">Favorited</a>
          <a href="#" class="text-decoration-none text-dark p-2">Activity</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="drop">
    <div class="dropdown">
      <div class="dropdown__select">
        <span class="dropdown__selected">Status</span>
        <i class="bi bi-caret-down-fill dropdown__caret"></i>
      </div>
      <ul class="dropdown__list">
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Listed</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">On auction</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">New</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Has offers</span>
        </li>

      </ul>
    </div>

    <div class="dropdown">
      <div class="dropdown__select">
        <span class="dropdown__selected">Chains</span>
        <i class="bi bi-caret-down-fill dropdown__caret"></i>
      </div>
      <ul class="dropdown__list">
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Arbitrum</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Avalanche</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Base</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Ethereum</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Klaytn</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Optimism</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Polygon</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Solana</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Zora</span>
        </li>
      </ul>
    </div>

    <div class="search-box">
      <div class="search_icon">
        <i class="bi bi-search"></i>
      </div>
      <input type="text" class="search-input" placeholder="Search by name">

    </div>
    <div class="dropdown">
      <div class="dropdown__select">
        <span class="dropdown__selected">Recently</span>
        <i class="bi bi-caret-down-fill dropdown__caret"></i>
      </div>
      <ul class="dropdown__list">
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Listed</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">On auction</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">New</span>
        </li>
        <li class="dropdown__item">
          <i class="bi bi-check2-square"></i>
          <span class="dropdown__text">Has offers</span>
        </li>

      </ul>
    </div>
  </div>

  <div class="big-box">
      <div class="box">
        <div class="small-box">
          <h3 class="text">No items found for this search</h3>
          <button class="box-item">Back to all items</button>
        </div>
      </div>
  </div>

</body>

</html>